.chromefastcom-wrapper-messages {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  max-height: 500px;
  overflow-y: auto;
}

.chromefastcom-messageBlock {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  margin-bottom: 15px;
}

.chromefastcom-message-wrapper {
  display: flex;
  padding: var(--padding) !important;
  background-color: var(--color-element-dark);
  border-radius: var(--border-radius);
  max-width: 70%;
}

.chromefastcom-question {
  align-self: flex-end;
}

.chromefastcom-answer,
.chromefastcom-error {
  align-self: flex-start;
}

.chromefastcom-message {
  overflow-wrap: break-word;
  min-width: 0;
}
