.default {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--color-element-dark);
  transition: var(--transition) background-color;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--color-text-dark);
  pointer-events: none;
}

@media (hover: hover) {
  .default:hover {
    background-color: var(--color-element-dark-hover);
  }
}

@media (hover: none) {
  .default:active {
    background-color: var(--color-element-dark-hover);
  }
}
