.default {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--color-element-dark);
  transition: 0.1s background-color;
}

@media (hover: hover) {
  .default:hover {
    background-color: var(--color-element-dark-hover);
  }
}

@media (hover: none) {
  .default:active {
    background-color: var(--color-element-dark-hover);
  }
}
