.default {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--padding);
  border-radius: 4px;
  background-color: #4d4d4d;
  transition: 0.1s background-color;
}

@media (hover: hover) {
  .default:hover {
    background-color: #3d3d3d;
  }
}

@media (hover: none) {
  .default:active {
    background-color: #3d3d3d;
  }
}
