.prompt {
  display: grid;
  gap: var(--padding);
}

.input,
.textarea {
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--color-element-dark);
}

.textarea {
  resize: none;
  outline: none;
}
