.wrapper {
  width: 400px;

  background-color: #242424;
}

.container {
  overflow: hidden;
}

/* Header */

/* Instructions */

.instructionsList {
  display: grid;
  gap: 0.5em;
}

/* Settings */

.main {
  position: relative;
  padding: 0.5em;
}

.sidebar {
  position: absolute;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: #242424;
  transition: right 0.2s;
  padding: 0.5em;
}

.sidebarOpen {
  right: 0;
}
/*  */
