.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.menuList {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  border-bottom: 1px solid #4d4d4d;
}

.gearIcon {
  width: 20px;
  height: 20px;
  fill: #ffffffde;
}

.promptButton {
  height: 100%;
}
