.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.menuList {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  border-bottom: 1px solid var(--color-element-dark);
}

.promptButton {
  height: 100%;
}
